@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --primary-color: #e84118;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: poppins;
    background: #fff;
}

.heading {
    color: var(--primary-color);
    /* font-family: 'Lobster', cursive; */
    font-family: 'Righteous', cursive;
    font-size: 76px;
}

.subheading, .subheading2 {
    color: #7f8c8d;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7% 0 7% 0;
}

.hero-content {
    text-align: center;
    /* margin: 0 0 0 -127px; */
}

.buttons {
    display: grid;
    justify-content: center;
}

/* form style */

.rem {
    text-align: center;
}

.hero-form {
    border: 1px solid #fff;
    border-radius: 7px;
    background: #fff;
    line-height: 4;
    padding: 2% 2% 1% 2%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.user {
    width: 48%;
    height: 43px;
    font-size: 17px;
    border: 0.5px solid #fff;
    border-radius: 5px;
    color: #00000070;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.user-input {
    display: flex;
    justify-content: space-between;
}

.log-can {
    letter-spacing: 23px
}
.btn {
    padding: 9px 59px 9px 59px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 32px;
    color: var(--primary-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    
}


.btn2 {
    text-align: center;
    padding: 9px 59px 9px 59px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.forget {
    text-align: center;
}


/* bounce style */

.bounce {
    margin-bottom: 10%;
}

#awe {
    padding: 26px;
    border: 2px solid #fff;
    font-size: 22px;
    border-radius: 50px;
    margin: 0 0 0 5%;
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}




