@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --primary-color: #e84118;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: poppins;
    background: #fff;
}

.heading {
    color: var(--primary-color);
    /* font-family: 'Lobster', cursive; */
    font-family: 'Righteous', cursive;
    font-size: 76px;
}

.subheading, .subheading2 {
    color: #7f8c8d;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7% 0 0 0;
}

.hero-content {
    text-align: center;
    /* margin: 0 0 0 -127px; */
}

.buttons {
    display: grid;
    justify-content: center;
}

/* form style */

.rem {
    text-align: center;
    margin-top: 11px;
}

.hero-form {
    border: 1px solid #fff;
    border-radius: 7px;
    background: #fff;
    line-height: 4;
    padding: 2% 2% 1% 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.user {
    width: 48%;
    height: 43px;
    font-size: 17px;
    border: 0.5px solid #fff;
    border-radius: 5px;
    color: #00000070;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.user-input {
    display: flex;
    justify-content: space-between;
}

.log-can {
    letter-spacing: 23px
}
.btn {
    padding: 9px 59px 9px 59px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    color: var(--primary-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    transition: all .5s;   
}

.btn:hover {
    color: #fff;
    background: var(--primary-color);
    padding: 10px 62px 10px 62px;
    font-size: 15px;
    border: 1px solid var(--primary-color);
    box-shadow: none;
}


.btn2 {
    position: relative;
    text-align: center;
    padding: 9px 59px 9px 59px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    transition: all .5s;
}

.btn2:hover {
    color: #fff;
    background: var(--primary-color);
    padding: 10px 62px 10px 62px;
    font-size: 15px;
    border: 1px solid var(--primary-color);
    box-shadow: none;
}

.forget {
    text-align: center;
}

.reg-btn {
    display: flex;
    justify-content: center;
}

.email {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 0.5px solid #fff;
    border-radius: 5px;
    color: #00000070;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.container-signin {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}


/* bounce style */

.bounce {
    margin-bottom: 10%;
}

#awe, #awe2, #awe3, #awe4 {
    background: var(--primary-color);
    padding: 26px;
    border: 2px var(--primary-color);
    font-size: 22px;
    border-radius: 50px;
    margin: 0 0 0 5%;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

/* Viewports */

@media only screen and (max-width: 1150px) {
    #awe, #awe2, #awe3, #awe4 {
        padding: 13px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 942px) {
    #awe, #awe2, #awe3, #awe4 {
        padding: 10px;
        font-size: 9px;
        font-size: 61px;
        font-size: 12px;
    }

    .subheading, .subheading2 {
        font-size: 18px;
    }

    .heading {
        font-size: 57px;
    }
}

@media only screen and (max-width: 874px) {
    #awe4 {
        display: none;
    }

    .user-input {
        justify-content: space-around;
    }

    .user {
        width: 40%;
    }

    .hero-form {
        padding: 2% 0% 1% 0%;
    }

    .subheading, .subheading2 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 722px) {
    .hero-section {
        display: grid;
    }

    .hero-form {
        width: 80%;
        margin: auto;
        padding-top: 9%;
        padding-bottom: 6%;
    }

    .hero-content {
        margin-bottom: 9%;
    }

    .bounce {
        display: flex;
        justify-content: center;
        margin-top: 17%;
    }

    #awe, #awe2, #awe3 {
        padding: 16px;
        font-size: 25px;
    }

    #awe {
        margin-left: 0;
    }

    .subheading, .subheading2 {
        font-size: 21px;
    }

    .btn {
        margin-left: 0;
    }
}

@media only screen and (max-width: 390px) {
    .btn2 {
        text-align: center;
        padding: 9px 42px 9px 42px;
        font-size: 14px;
        font-weight: bold;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: var(--primary-color);
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        overflow: hidden;
        transition: all .5s;
    }
    
    .btn2:hover {
        color: #fff;
        background: var(--primary-color);
        padding: 10px 45px 10px 45px;
        font-size: 15px;
        border: 1px solid var(--primary-color);
        box-shadow: none;
    }


    .subheading, .subheading2 {
        font-size: 18px;
    }

    #already {
        font-size: 11px;
        margin-top: 9px;
        color: var(--primary-color);
        text-align: center;
    }

}

@media only screen and (max-width: 470px) {
    .container p {
        padding: 0 15px 0 15px;
        line-height: 16px;
        margin-bottom: 26px;
    }

    #terms {
        line-height: 1.5;
        padding: 0 7px 0 7px;
        margin-bottom: 32px;
    }
}

/* modal testing  */


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    border-radius: 4px;
    border: 1px solid #fff;
    position: relative;
    background-color: #fff;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    display: none;
    color: #3498db;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
  
  
.modal-body {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

/* testing forms */

.container h1 {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: -10%;
}

.container p {
    color: var(--primary-color);
    text-align: center;
    font-size: 12px;
}

.input-f {
    display: grid;
    justify-content: center;
    /* width: 60%; */
}

.email {
    margin-bottom: 21px;
    width: 100%;
}

.register {
    display: flex;
    justify-content: center;
}



