@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


:root {
    --primary-color: #e84118;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: poppins;
    background: #fff;
}

.heading {
    color: var(--primary-color);
    /* font-family: 'Lobster', cursive; */
    font-family: 'Righteous', cursive;
    font-size: 76px;
}

.subheading, .subheading2 {
    color: #7f8c8d;
    font-size: 25px;
    font-family: 'Satisfy', cursive;
}

.hero-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7% 0 0 0;
}

.hero-content {
    text-align: center;
    /* margin: 0 0 0 -127px; */
}

.buttons {
    display: grid;
    justify-content: center;
}

/* form style */

.rem {
    text-align: center;
}

.hero-form {
    border: 1px solid #fff;
    border-radius: 7px;
    background: #fff;
    line-height: 4;
    padding: 2% 2% 1% 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.user {
    width: 48%;
    height: 43px;
    font-size: 17px;
    border: 0.5px solid #fff;
    border-radius: 5px;
    color: #00000070;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.user-input {
    display: flex;
    justify-content: space-between;
}

.log-can {
    letter-spacing: 23px
}
.btn {
    padding: 9px 59px 9px 59px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 32px;
    color: var(--primary-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    transition: all .5s;   
}

.btn:hover {
    color: #fff;
    background: var(--primary-color);
    padding: 10px 62px 10px 62px;
    font-size: 15px;
    border: 1px solid var(--primary-color);
    box-shadow: none;
}


.btn2 {
    position: relative;
    text-align: center;
    padding: 9px 59px 9px 59px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    color: var(--primary-color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    overflow: hidden;
    transition: all .5s;
}

.btn2:hover {
    color: #fff;
    background: var(--primary-color);
    padding: 10px 62px 10px 62px;
    font-size: 15px;
    border: 1px solid var(--primary-color);
    box-shadow: none;
}

.forget {
    text-align: center;
}


/* bounce style */

.bounce {
    margin-bottom: 10%;
}

#awe, #awe2, #awe3, #awe4 {
    background: var(--primary-color);
    padding: 26px;
    border: 2px solid var(--primary-color);
    font-size: 22px;
    border-radius: 50px;
    margin: 0 0 0 5%;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0% {
transform: scale(1,1) translate(0px, 0px);
}

30%{
transform: scale(1,0.8) translate(0px, 10px); 
}

75%{
transform: scale(1,1.1) translate(0px, -25px); 
}

100% {
transform: scale(1,1) translate(0px, 0px);
}
}

/* Viewports */

@media only screen and (max-width: 1012px) {
    #awe, #awe2, #awe3, #awe4 {
        padding: 13px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 834px) {
    #awe, #awe2, #awe3, #awe4 {
        padding: 10px;
        font-size: 9px;
        font-size: 61px;
        font-size: 12px;
    }

    .subheading, .subheading2 {
        font-size: 18px;
    }

    .heading {
        font-size: 57px;
    }
}

@media only screen and (max-width: 768px) {
    #awe4 {
        display: none;
    }

    .user-input {
        justify-content: center;
    }

    .user {
        width: 40%;
    }

    .hero-form {
        padding: 2% 0% 1% 0%;
    }

    .subheading, .subheading2 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 620px) {
    .hero-section {
        display: grid;
    }

    .hero-content {
        margin-bottom: 9%;
    }

    .bounce {
        display: flex;
        justify-content: center;
        margin-top: 17%;
    }

    #awe, #awe2, #awe3 {
        padding: 16px;
        font-size: 25px;
    }

    #awe {
        margin-left: 0;
    }

    .subheading, .subheading2 {
        font-size: 21px;
    }
}

@media only screen and (max-width: 390px) {
    .btn2 {
        text-align: center;
        padding: 9px 42px 9px 42px;
        font-size: 14px;
        font-weight: bold;
        background: #fff;
        border: 1px solid #fff;
        border-radius: 4px;
        cursor: pointer;
        text-decoration: none;
        color: var(--primary-color);
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        overflow: hidden;
        transition: all .5s;
    }
    
    .btn2:hover {
        color: #fff;
        background: var(--primary-color);
        padding: 10px 45px 10px 45px;
        font-size: 15px;
        border: 1px solid var(--primary-color);
        box-shadow: none;
    }

    .btn {
        margin-left: 19px;
    }

    .hero-form {
        width: 80%;
        margin: auto;
    }

    .subheading, .subheading2 {
        font-size: 18px;
    }

}



